asteval==0.9.25
attrs==21.2.0
cached-property==1.5.2
cftime==1.5.1.1
Cython==0.29.26
future==0.18.2
h5py==3.6.0
importlib-metadata==4.9.0
joblib==1.1.0
jsonschema==3.0.2
lmfit==1.0.3
netCDF4==1.5.8
numpy==1.21.4
pyhdf==0.10.3
pyrsistent==0.18.0
scikit-learn==1.0.1
scipy==1.7.3
six==1.16.0
threadpoolctl==3.0.0
typing_extensions==4.0.1
uncertainties==3.1.6
zipp==3.6.0
